@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .animation-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #131722; 
}
::-webkit-scrollbar-thumb {
  background: #2a2e39; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f4657; 
}
